/* CSS Reset  */

*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

/* body{
    background-color: #d3e9ea;
} */



/* CSS Variables  */
:root{
    --navbar-height: 29px
}

/* Navigation bar  */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
   
}

/* Navigation bar: Logo and Image  */
#logo{
    
    margin: 34px 45px;

}

#logo img{
    height: 35px;
    width: 35px;
    margin: 2px 4px;
}

/* Navigation bar: List styling  */



#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 2rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 22px 24px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: rgb(241, 115, 225);
   background-color: rgb(184, 231, 243);
}

/* Home section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 640px;
    justify-content: center;
    align-items: center;

}

#home::before{
    content: "";
    position: absolute;
    background: url('bg.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.79;
}

#home h1{
    color: black;
    text-align: center;

}

#home h3{
    color: black;
    text-align: center;
    font: 2.5rem;

}

#home p{
    color: black;
    text-align: center;
    font: 2.3rem;
}

/* Services section  */

#services{
    margin: 34px;
    display: flex;
}


#services .box{
    border: 2px solid red;
    padding: 35px;
    margin: 3px 6px;
    border-radius: 30px;
    background-color: rgb(235, 201, 157) ;
    margin-bottom: 20px;
}

#services .box img{
    height: 160px;
   margin: auto;
    display: block;
}

#services .box p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.2rem;
}

/* Client Section  */

#client-section{
    height: 345px;
    position: relative;

}

#client-section::before{
    content: "";
    position: absolute;
    background: url('bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;

}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.client-item{
    padding: 35px;
}

#clients img{
    height: 120px;
}


/* Contact Section  */

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact.jpg') no-repeat center center/cover;

}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
    
}

#contact-box label{
    font-size: 1.3rem;
    
}



footer{
    background: black ;
    color: white;
    padding: 10px 22px;
    font-size: 1rem;
}


/* Utility classes  */

.h-primary{
    font-size: 4rem;
    padding: 12px;
}

.h-secondary{
    font-size: 3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 4px solid black;
    background-color: brown ;
    color: white;
    margin: 17px;
    font-size: 35px;
    border-radius: 18px;
    cursor: pointer;
}

.center{
    text-align: center;
}

.btn1{
    padding: 6px 20px;
    border: 4px solid black;
    background-color: rgb(58, 193, 202) ;
    color: white;
    margin: 17px;
    font-size: 35px;
    border-radius: 18px;
    cursor: pointer;
}

